Saving Forecasts.flow
[{"id":"14494bf.de8acb4","type":"http request","z":"3905022d.00a30e","name":"Daily","method":"GET","ret":"txt","url":"https://twcservice.mybluemix.net/api/weather/v1/geocode/40.4397/-79.9764/forecast/daily/3day.json","tls":"","x":275,"y":150,"wires":[["2a1198f5.e4b0f8","3a293034.fc6a6"]]},{"id":"5b314b89.08a1b4","type":"inject","z":"3905022d.00a30e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108.5,"y":152,"wires":[["14494bf.de8acb4"]]},{"id":"2a1198f5.e4b0f8","type":"json","z":"3905022d.00a30e","name":"","x":413.5,"y":150,"wires":[["d2b6de99.d375e"]]},{"id":"d2b6de99.d375e","type":"cloudant out","z":"3905022d.00a30e","name":"Cloudant","cloudant":"","database":"junkweather","service":"weather ddd-cloudantNoSQLDB","payonly":true,"operation":"insert","x":582.5,"y":150,"wires":[]},{"id":"3a293034.fc6a6","type":"debug","z":"3905022d.00a30e","name":"Forecast","active":true,"console":"false","complete":"payload","x":416.5,"y":102,"wires":[]}]