UI Dashboard.flow
[{"id":"f7d612f9.e7f76","type":"debug","z":"27b9475b.4addf8","name":"STIN","active":false,"console":"false","complete":"payload","x":218,"y":273,"wires":[]},{"id":"45f4cbec.7e5a54","type":"ibmiot in","z":"27b9475b.4addf8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"Eastland","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Eastland","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":81,"y":309,"wires":[["f7d612f9.e7f76","62ee830c.c7612c"]]},{"id":"54bb0a41.1d0bd4","type":"comment","z":"27b9475b.4addf8","name":"Dashboard","info":"","x":88,"y":95,"wires":[]},{"id":"62ee830c.c7612c","type":"function","z":"27b9475b.4addf8","name":"Parse","func":"\n// count for throttling\nvar count = flow.get('count')||0;\ncount ++;\nflow.set('count',count);\n\n// fake moisture sensor\n//msg.payload.d.moisture = msg.payload.d.light / 10;\nvar m = parseFloat(msg.payload.d.light / 10);\nmsg.payload.d.moisture = m.toPrecision(4);\n//node.warn(msg.payload.d.moisture);\n\nvar h = parseFloat(msg.payload.d.humidity);\nmsg.payload.d.humidity = h.toPrecision(4);\n//node.warn(msg.payload.d.humidity);\n\n// store values globally\nglobal.set(\"temperature\", msg.payload.d.objectTemp);\nglobal.set(\"humidity\", msg.payload.d.humidity);\nglobal.set(\"moisture\", msg.payload.d.moisture);\n//node.warn(\"t1: \" +global.get(\"temperature\"));\n\n\n\nreturn [\n\t    //{payload: msg.payload.d.ambientTemp},\n\t    {payload: msg.payload.d.objectTemp},\n\t    {payload: msg.payload.d.humidity},\n\t    {payload: msg.payload.d.pressure},\n\t    {payload: msg.payload.d.moisture},\n\t    {payload: msg.payload.d.light}\n\t    ];\n\t    \n//return msg;","outputs":"5","noerr":0,"x":391.5,"y":310,"wires":[["5b61f708.0688e8"],["b3f24b8a.cf64a8"],["a8c7fbd4.d97e28"],["f5e82e9c.af9af","537ff1e4.67e6a"],[]]},{"id":"81a8974.8282a68","type":"ui_gauge","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"Temperature","group":"Temperature","order":"2","format":"{{value}} C","min":0,"max":"50","x":772,"y":103,"wires":[]},{"id":"74abda9c.be17b4","type":"ui_gauge","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"Humidity","group":"Humidity","order":"11","format":" {{value}} %","min":0,"max":"100","x":849,"y":210,"wires":[]},{"id":"4115eac5.e47f04","type":"ui_text","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"Hum","group":"Humidity","order":"10","format":"{{msg.payload}} %","x":815,"y":171,"wires":[]},{"id":"34a38530.49a64a","type":"ui_chart","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"","group":"Humidity","order":"12","interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":847,"y":246,"wires":[[],[]]},{"id":"b3f24b8a.cf64a8","type":"function","z":"27b9475b.4addf8","name":"Throttle 10","func":"\nif (flow.get('count')%10 === 0) \n    return msg;\nelse \n    return null;","outputs":1,"noerr":0,"x":658.5,"y":228,"wires":[["4115eac5.e47f04","74abda9c.be17b4","34a38530.49a64a"]]},{"id":"8c4331ec.d3ea6","type":"ui_chart","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"","group":"Temperature","order":"3","interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":763.5,"y":136,"wires":[[],[]]},{"id":"b571f3ca.b09ed","type":"ui_gauge","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"Barometer","group":"Barometer","order":"21","format":"mbar","min":"850","max":"1100","x":905,"y":326,"wires":[]},{"id":"57e6f3d.a341e0c","type":"ui_text","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"Baro","group":"Barometer","order":"20","format":"{{msg.payload}} mbar","x":863,"y":288,"wires":[]},{"id":"dcb792d4.f4dc1","type":"ui_chart","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"","group":"Barometer","order":"22","interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":879,"y":367,"wires":[[],[]]},{"id":"a8c7fbd4.d97e28","type":"function","z":"27b9475b.4addf8","name":"Throttle 30","func":"\nif (flow.get('count')%30 === 0) \n    return msg;\nelse \n    return null;","outputs":1,"noerr":0,"x":690,"y":328,"wires":[["57e6f3d.a341e0c","b571f3ca.b09ed","dcb792d4.f4dc1"]]},{"id":"750b52d2.35311c","type":"ui_text","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"Temp","group":"Temperature","order":1,"format":"{{msg.payload}} C","x":739.5,"y":67,"wires":[]},{"id":"59795aa2.3a9574","type":"ui_gauge","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"Moist","group":"Moisture","order":"31","format":"{{value}} ","min":0,"max":"50","x":854,"y":441,"wires":[]},{"id":"2ec5ae8e.8b88a2","type":"ui_text","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"Moi","group":"Moisture","order":"30","format":"{{msg.payload}} Moi","x":867,"y":402,"wires":[]},{"id":"7aab5ec0.484a1","type":"ui_chart","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"","group":"Moisture","order":"32","interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":827,"y":479,"wires":[[],[]]},{"id":"f5e82e9c.af9af","type":"function","z":"27b9475b.4addf8","name":"Throttle 2","func":"\nif (flow.get('count')%5 === 0) \n    return msg;\nelse \n    return null;","outputs":1,"noerr":0,"x":686,"y":413,"wires":[["2ec5ae8e.8b88a2","59795aa2.3a9574","7aab5ec0.484a1"]]},{"id":"537ff1e4.67e6a","type":"debug","z":"27b9475b.4addf8","name":"Moi","active":false,"console":"false","complete":"payload","x":502.5,"y":407,"wires":[]},{"id":"9501934d.5c001","type":"ui_text","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"SYS","group":"System Status","order":1,"format":": {{msg.payload}}","x":495,"y":820.2882080078125,"wires":[]},{"id":"ffb2c17e.96433","type":"inject","z":"27b9475b.4addf8","name":"Set ERROR","topic":"","payload":"E21  general mechanical failure ","payloadType":"str","repeat":"","crontab":"","once":false,"x":310.56231689453125,"y":846.9549560546875,"wires":[["9501934d.5c001"]]},{"id":"621ae77f.071158","type":"ui_button","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"UPDATE","payload":"","topic":"ddd/systemstatus","group":"System Status","order":1,"x":481,"y":775.7569580078125,"wires":[["c11b63d2.b14d7"]]},{"id":"69bc77f5.c230e8","type":"inject","z":"27b9475b.4addf8","name":"Set STATUS","topic":"","payload":"All systems normal","payloadType":"str","repeat":"","crontab":"","once":true,"x":282,"y":810.7569580078125,"wires":[["9501934d.5c001"]]},{"id":"1c68a741.45a509","type":"comment","z":"27b9475b.4addf8","name":"System","info":"","x":72,"y":728.2882080078125,"wires":[]},{"id":"b81d39c9.fcadd8","type":"mqtt in","z":"27b9475b.4addf8","name":"","topic":"ddd/pumpstatus","qos":"2","broker":"a0cbe975.8b4a68","x":601.5,"y":1035.2882080078125,"wires":[["3ab210ed.71f16","5bdb2ea9.6c1ec"]]},{"id":"3ab210ed.71f16","type":"ui_text","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"P1","group":"Main Pump 1","order":"1","format":": {{msg.payload}}","x":772,"y":940,"wires":[]},{"id":"5bdb2ea9.6c1ec","type":"ui_text","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"P2","group":"Main Pump 2","order":"1","format":": {{msg.payload}}","x":771,"y":1113.0035400390625,"wires":[]},{"id":"3f1bd035.c8d48","type":"ui_text","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"GEN","group":"Primary Generator","order":"1","format":": {{msg.payload}}","x":496.9931640625,"y":1216.013671875,"wires":[]},{"id":"41f38e3e.62a83","type":"ui_button","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"Clear","payload":"","topic":"","group":"Main Pump 1","order":1,"x":144.0069580078125,"y":1000.7569580078125,"wires":[["15d49f21.188c81"]]},{"id":"9d4a56b8.043f18","type":"ui_button","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"Clear","payload":"","topic":"","group":"Main Pump 2","order":1,"x":144.99652099609375,"y":1104.4166259765625,"wires":[["740f15be.29bc7c"]]},{"id":"c2d2b0b7.2961e","type":"ui_button","z":"27b9475b.4addf8","tab":"ab0d3a4a.c90ff8","name":"Clear","payload":"","topic":"","group":"Primary Generator","order":1,"x":147,"y":1217.430419921875,"wires":[["2bcabf6f.f0f27"]]},{"id":"15d49f21.188c81","type":"change","z":"27b9475b.4addf8","name":"Clear P1 Alert","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":298.95135498046875,"y":1000.9304809570312,"wires":[["3ab210ed.71f16"]]},{"id":"740f15be.29bc7c","type":"change","z":"27b9475b.4addf8","name":"Clear P2 Alert","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":296.95135498046875,"y":1104.9305419921875,"wires":[["5bdb2ea9.6c1ec"]]},{"id":"2bcabf6f.f0f27","type":"change","z":"27b9475b.4addf8","name":"Clear Gen Alert","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":325.95135498046875,"y":1216.930419921875,"wires":[["3f1bd035.c8d48"]]},{"id":"1fd90a0a.8378a6","type":"inject","z":"27b9475b.4addf8","name":"Set Pump Error","topic":"","payload":"Valve 3  intake pressure falling","payloadType":"str","repeat":"","crontab":"","once":false,"x":341,"y":941.7569580078125,"wires":[["3ab210ed.71f16"]]},{"id":"e133438d.71433","type":"comment","z":"27b9475b.4addf8","name":"Generator","info":"","x":91,"y":1171.2882080078125,"wires":[]},{"id":"bb4531d2.93fd","type":"comment","z":"27b9475b.4addf8","name":"Main Pumps","info":"","x":99,"y":942.2882080078125,"wires":[]},{"id":"e27adf02.42f04","type":"inject","z":"27b9475b.4addf8","name":"Pump is not running  ","topic":"","payload":"Pump is not running     ","payloadType":"str","repeat":"","crontab":"","once":true,"x":299.5,"y":1052,"wires":[["3ab210ed.71f16","5bdb2ea9.6c1ec"]]},{"id":"b56d26c9.ff58f8","type":"inject","z":"27b9475b.4addf8","name":"","topic":"","payload":"Standby mode","payloadType":"str","repeat":"","crontab":"","once":true,"x":301,"y":1176,"wires":[["3f1bd035.c8d48"]]},{"id":"8cadbf0f.5ab3b","type":"mqtt out","z":"27b9475b.4addf8","name":"","topic":"ddd/systemstatus","qos":"","retain":"","broker":"a0cbe975.8b4a68","x":867.5,"y":776,"wires":[]},{"id":"669baef2.42542","type":"mqtt in","z":"27b9475b.4addf8","name":"","topic":"ddd/systemstatus","qos":"2","broker":"a0cbe975.8b4a68","x":204.5,"y":765,"wires":[["9501934d.5c001"]]},{"id":"c11b63d2.b14d7","type":"change","z":"27b9475b.4addf8","name":"Get / Set Status","rules":[{"t":"set","p":"payload","pt":"msg","to":"All systems normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":658.5,"y":776,"wires":[["8cadbf0f.5ab3b"]]},{"id":"5b61f708.0688e8","type":"function","z":"27b9475b.4addf8","name":"Throttle 10","func":"\nif (flow.get('count')%10 === 0) \n    return msg;\nelse \n    return null;","outputs":1,"noerr":0,"x":581,"y":130,"wires":[["750b52d2.35311c","81a8974.8282a68","8c4331ec.d3ea6"]]},{"id":"ab0d3a4a.c90ff8","type":"ui_tab","z":"27b9475b.4addf8","name":"Eastland Field 17","icon":"dashboard","order":"1"},{"id":"a0cbe975.8b4a68","type":"mqtt-broker","z":"27b9475b.4addf8","broker":"m2m.eclipse.org","port":"1883","clientid":"dddweathers","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]