Weather API.flow
[{"id":"4f3cbba4.155604","type":"function","z":"25bf883b.810cf8","name":"Decision Engine ","func":"var pop = 0;\nvar qpf = 0;\n\nvar temperature = global.get(\"temperature\"); \nvar humidity = global.get(\"humidity\"); \nvar moisture = global.get(\"moisture\");  \n\n//node.warn(\"t: \" +temperature);\n//node.warn(\"h: \" +humidity);\n//node.warn(\"m: \" +moisture);\n\n//node.warn(\"d:\" +msg.payload.d);\nif(msg.payload.d !== undefined) {\n    if(msg.payload.d.pop !== undefined);\n        pop = msg.payload.d.pop;\n    if(msg.payload.d.qpf !== undefined);\n        qpf = msg.payload.d.qpf;   \n} else {\n   node.warn(\"d is undefined\"); \n}\n\nvar sysmsg = { payload: msg.payload.length };\n\nif(pop < 50) {\n    node.warn(\"pop < 50\");\n\n    if(moisture < 1 && temperature > 20){\n        //run irrigation system at 100%\n        msg.payload = \"running at FULL capacity\";\n        sysmsg.payload = \" System running at 400 g/min\";\n    }\n    else if(moisture < 15 && temperature > 20){\n        //run irrigation system at 50%\n        msg.payload = \"running at 50% capacity\";\n        sysmsg.payload = \"System running at 200 g/min\";\n    }\n    else {\n        //don't run irrigation system\n        msg.payload = \"Pump is not running\";\n        sysmsg.payload = \"All systems normal\";\n    }\n}\nelse {   \n     node.warn(\"pop >= 50\");\n     if(qpf >= 4){\n        node.warn(\"qpf >= 4\");\n        msg.payload = \"Pump is not running\";\n        sysmsg.payload = \"Heavy rain expected > 4in\";\n         \n     }else  {\n        node.warn(\"qpf < 2\");\n        if(moisture < 1 && temperature > 20){\n            //run irrigation system at 75%\n            msg.payload = \"running at 75% capacity\";\n            sysmsg.payload = \" System running at 300 g/min\";\n        }\n        else if(moisture < 15 && temperature > 20){\n            //run irrigation system at 25%\n            msg.payload = \"running at 25% capacity\";\n            sysmsg.payload = \"System running at 100 g/min\";\n        }\n        else {\n            //don't run irrigation system\n            msg.payload = \"Pump is not running\";\n            sysmsg.payload = \"All systems normal\";\n        }\n         \n     }\n}\n\nreturn [sysmsg, msg];","outputs":"2","noerr":0,"x":666.5,"y":103,"wires":[["8450f63.98ff708"],["70d0bf71.d210f"]]},{"id":"fcd8150f.fab4c8","type":"inject","z":"25bf883b.810cf8","name":"Get Weather","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":118,"wires":[["74fc46e9.b1d548"]]},{"id":"3e2ab8cc.6101a8","type":"inject","z":"25bf883b.810cf8","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":158,"y":553,"wires":[["c4b81a30.ed7d48"]]},{"id":"e1837c7d.48c75","type":"twitter out","z":"25bf883b.810cf8","twitter":"","name":"Tweet","x":479,"y":505,"wires":[]},{"id":"c4b81a30.ed7d48","type":"function","z":"25bf883b.810cf8","name":"Set Tweet","func":"\n//msg.payload = \"@dddtweet abc \" + msg.payload;\nmsg.payload = \"#dddtweet abc \" + msg.payload;\n//msg.payload = \"D {ne3rdne7th@gmail.com} {DM tweet}\";\n\nreturn msg;","outputs":1,"noerr":0,"x":323,"y":505,"wires":[["e1837c7d.48c75"]]},{"id":"f940a3ab.7c28d","type":"debug","z":"25bf883b.810cf8","name":"TW IN","active":true,"console":"false","complete":"payload","x":852,"y":504,"wires":[]},{"id":"6820e3a2.ff1a0c","type":"twitter in","z":"25bf883b.810cf8","twitter":"","tags":"@dddtweet,#dddtweet","user":"false","name":"","topic":"tweets","x":666,"y":505,"wires":[["f940a3ab.7c28d"]]},{"id":"2fa657ce.272228","type":"debug","z":"25bf883b.810cf8","name":"TWC RESPONSE","active":false,"console":"true","complete":"payload","x":339.5,"y":135,"wires":[]},{"id":"74fc46e9.b1d548","type":"http request","z":"25bf883b.810cf8","name":"Daily","method":"GET","ret":"txt","url":"https://twcservice.mybluemix.net/api/weather/v1/geocode/40.4397/-79.9764/forecast/daily/3day.json","tls":"","x":188,"y":182,"wires":[["2fa657ce.272228","98071965.513328"]]},{"id":"963a5072.59a1","type":"function","z":"25bf883b.810cf8","name":"Extract POP & QPF","func":"//node.warn(\"p:\"+JSON.stringify(msg.payload));\nvar forecasts = msg.payload.forecasts;\n//node.warn(\"forecasts0: \" + JSON.stringify(forecasts[0]));       // forecasts[0] is today\n//node.warn(\"qpf:\" + forecasts[0].qpf);\n\nvar pop = null;\nif(forecasts[0].day !== undefined) {\n    //node.warn(\"qpfDay:\" + forecasts[0].day.qpf);\n    pop = forecasts[0].day.pop;\n}    \nelse if(forecasts[0].night !== undefined) {\n    //node.warn(\"qpfNight:\" + forecasts[0].night.qpf);\n    pop = forecasts[0].night.pop;\n}    \n\n\n// cumulative precipitation expected and precipitation percent chance\nmsg.payload = { \"d\" : {                 // day and night present depdending on TOD \n        \"qpf\" : forecasts[0].qpf,       // at 7 AM ? \n        \"pop\" : pop,\n        \"nar\" : forecasts[0].narrative }\n        };\nnode.warn(\"data: \" +JSON.stringify(msg.payload));\n \n\nreturn msg;\n\n\n// -------------------------------------------------------------\n// TEST\nnode.warn(\"forecasts: \" + forecasts);\nnode.warn(\"forecasts0: \" + JSON.stringify(forecasts[0]));\nnode.warn(\"qpf:\" + forecasts[0].qpf);\nnode.warn(\"day:\" + JSON.stringify(forecasts[0].day));\nnode.warn(\"night:\" + JSON.stringify(forecasts[0].night));\nnode.warn(\"day pop:\" + forecasts[0].day.pop);\nnode.warn(\"day qpf:\" + forecasts[0].day.qpf);\nnode.warn(\"night pop:\" + forecasts[0].night.pop);\nnode.warn(\"night qpf:\" + forecasts[0].night.qpf);\n\n// simple msg with just cumulative precipitation expected\nmsg.payload = { \"d\" : {                 // qpf will always be present outside of day and night\n        \"qpf\" : forecasts[0].qpf } \n        };\nnode.warn(\"msg: \" +JSON.stringify(msg));\n\n/*\nmsg.payload = { \"d\" : {                 // day and night present depdending on TOD \n        \"qpf\" : forecasts[0].qpf,       // at 7 AM ? \n        \"pop\" : pop,\n        \"qpfDay\" : forecasts[0].day.qpf,   \n        \"qpfNight\" : forecasts[0].night.qpf} \n        };\nnode.warn(\"msg: \" +JSON.stringify(msg));\n */       \n\n","outputs":1,"noerr":0,"x":513,"y":211,"wires":[["4f3cbba4.155604","e3111562.644cb8","bce3487f.b05be8","589aa81e.a27608","2f411d51.31ea72","23d209fe.ae2516","7f6b1ea7.f34fb"]]},{"id":"c50f6362.5f37e","type":"e-mail","z":"25bf883b.810cf8","server":"smtp.gmail.com","port":"465","name":"ddougher@us.ibm.com","dname":"","x":543.5,"y":559,"wires":[]},{"id":"49cc0027.283d5","type":"function","z":"25bf883b.810cf8","name":"Set email","func":"\nreturn msg;","outputs":1,"noerr":0,"x":327.5,"y":558,"wires":[["c50f6362.5f37e"]]},{"id":"251acdbf.687662","type":"inject","z":"25bf883b.810cf8","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174,"y":599,"wires":[["49cc0027.283d5"]]},{"id":"ab7f9ba6.fed818","type":"comment","z":"25bf883b.810cf8","name":"Update Status UI","info":"","x":928.5,"y":33,"wires":[]},{"id":"3285904.0bc457","type":"comment","z":"25bf883b.810cf8","name":"Notify","info":"","x":90.5,"y":459,"wires":[]},{"id":"73e993c6.2eeffc","type":"comment","z":"25bf883b.810cf8","name":"Process Forecast","info":"a","x":112.5,"y":46,"wires":[]},{"id":"98071965.513328","type":"json","z":"25bf883b.810cf8","name":"","x":326.5,"y":182,"wires":[["963a5072.59a1"]]},{"id":"3838e248.32984e","type":"inject","z":"25bf883b.810cf8","name":"test","topic":"","payload":"Pump is running at 50% capacity","payloadType":"str","repeat":"","crontab":"","once":false,"x":702.5,"y":151,"wires":[["70d0bf71.d210f"]]},{"id":"8450f63.98ff708","type":"mqtt out","z":"25bf883b.810cf8","name":"","topic":"ddd/systemstatus","qos":"","retain":"","broker":"977de0e8.f479","x":891.5,"y":80,"wires":[]},{"id":"e817e082.9a5b1","type":"inject","z":"25bf883b.810cf8","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":495.5,"y":41,"wires":[["4f3cbba4.155604"]]},{"id":"9cabe1d6.d0322","type":"mqtt in","z":"25bf883b.810cf8","name":"","topic":"system/status","qos":"2","broker":"977de0e8.f479","x":112.5,"y":505,"wires":[["c4b81a30.ed7d48","49cc0027.283d5"]]},{"id":"da7aed03.881f4","type":"inject","z":"25bf883b.810cf8","name":"Stormy","topic":"Stormy","payload":"b0ca9a85f6cfc1a086434a8cd5b7f49f","payloadType":"str","repeat":"","crontab":"","once":false,"x":123.5,"y":324,"wires":[["2cb0830b.f26e4c"]]},{"id":"2cb0830b.f26e4c","type":"cloudant in","z":"25bf883b.810cf8","name":"Weather Data","cloudant":"","database":"weatherdaily","service":"weather ddd-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":313.5,"y":287,"wires":[["b647e13c.8fa56","963a5072.59a1"]]},{"id":"a0a64f4d.f781b","type":"inject","z":"25bf883b.810cf8","name":"Sunny","topic":"Sunny","payload":"03578c22a0110b091f1e0e9142b0914a","payloadType":"str","repeat":"","crontab":"","once":false,"x":122.5,"y":247,"wires":[["2cb0830b.f26e4c"]]},{"id":"b647e13c.8fa56","type":"debug","z":"25bf883b.810cf8","name":"Forecast ","active":false,"console":"false","complete":"payload","x":496.5,"y":296,"wires":[]},{"id":"70d0bf71.d210f","type":"mqtt out","z":"25bf883b.810cf8","name":"","topic":"ddd/pumpstatus","qos":"","retain":"","broker":"977de0e8.f479","x":891,"y":137,"wires":[]},{"id":"21f58375.5833bc","type":"inject","z":"25bf883b.810cf8","name":"test","topic":"","payload":" System running at 400 g/min","payloadType":"str","repeat":"","crontab":"","once":false,"x":708,"y":56,"wires":[["8450f63.98ff708"]]},{"id":"f11eae33.06d3d","type":"inject","z":"25bf883b.810cf8","name":"Rainy","topic":"Rainy","payload":"3f7ec69b8863f022c9b97412ad416203","payloadType":"str","repeat":"5","crontab":"","once":false,"x":123.5,"y":286,"wires":[["2cb0830b.f26e4c"]]},{"id":"e3111562.644cb8","type":"ui_text","z":"25bf883b.810cf8","tab":"b54dfe89.05787","name":"","group":"SUMMARY","order":"2","format":"{{msg.payload.d.nar}}","x":978.5,"y":250,"wires":[]},{"id":"2f411d51.31ea72","type":"ui_text","z":"25bf883b.810cf8","tab":"b54dfe89.05787","name":"Chance of Precipitation:","group":"POP","order":"10","format":"{{msg.payload.d.pop}}%","x":1029.5,"y":285,"wires":[]},{"id":"bce3487f.b05be8","type":"ui_text","z":"25bf883b.810cf8","tab":"b54dfe89.05787","name":"Expected Cumulative Precipitation:","group":"QPF","order":"20","format":"{{msg.payload.d.qpf}} in","x":987.5,"y":353,"wires":[]},{"id":"589aa81e.a27608","type":"ui_text","z":"25bf883b.810cf8","tab":"b54dfe89.05787","name":"Forecast time:","group":"SUMMARY","order":1,"format":"06:00 ","x":1010.5,"y":215,"wires":[]},{"id":"650d4e4e.74222","type":"ui_gauge","z":"25bf883b.810cf8","tab":"b54dfe89.05787","name":"Gauge","group":"POP","order":"11","format":"{{value}}%","min":0,"max":"100","x":1053.5,"y":320,"wires":[]},{"id":"7f9de111.072bb","type":"ui_gauge","z":"25bf883b.810cf8","tab":"b54dfe89.05787","name":"Gauge","group":"QPF","order":"31","format":"{{value}}in","min":0,"max":10,"x":1013.5,"y":393,"wires":[]},{"id":"23d209fe.ae2516","type":"change","z":"25bf883b.810cf8","name":"Set POP","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.pop","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":927.5,"y":318,"wires":[["650d4e4e.74222"]]},{"id":"7f6b1ea7.f34fb","type":"change","z":"25bf883b.810cf8","name":"Set QPF","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.qpf","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":889,"y":392,"wires":[["7f9de111.072bb"]]},{"id":"97d2ebcc.7feea8","type":"comment","z":"25bf883b.810cf8","name":"Update Weather UI","info":"","x":1043,"y":176,"wires":[]},{"id":"977de0e8.f479","type":"mqtt-broker","z":"25bf883b.810cf8","broker":"m2m.eclipse.org","port":"1883","clientid":"dddweather","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b54dfe89.05787","type":"ui_tab","z":"25bf883b.810cf8","name":"Eastland Weather","icon":"dashboard","order":"1"}]